/* display flex and align items to the left */
.navbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  height: 48px;
  padding: 16px;
}

.navbar div {
  margin: 0 5px;
}

.resource-power, .resource-gold {
  display: flex;
  align-items: center;
}

.resource-icon {
  margin-right: 8px;
}

.navbar-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}